.automatized-text-container__ewc-class {
  display: flex;
  // border: 1px solid gray;
  width: 100%;
  padding: 0 0px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
  .automatized-text__ewc-class {
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(140deg, $main 0%, $secondary 180%);
    color: $gray-10;
    border: none;
    border-radius: 17px;
    box-shadow: 0rem 0.0625rem 0.2525rem 0rem rgba(0, 0, 0, 0.998);
    font-weight: 500;
    font-size: 12px;
    padding: 0 10px;
    margin: 3px 5px;
    height: 30px;
    width: fit-content;
    max-width: 100%;
    outline: 2px solid $gray-10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      background-image: linear-gradient(140deg, $main 0%, $main 180%);
      box-shadow: 0rem 0.0625rem 0.6rem 0rem $main;
    }
    & > div {
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 7px;
      padding-top: 4px;
      & svg {
        // margin-right: 5px;
        fill: transparent;
        height: 20px;
      }
    }
  }
}

.spinner-before-suggestions__ewc-class {
  // background-color: $main;
  color: black;
  // border: 1px solid black;
  width: 100px;
  height: 100px;
  padding-left: 4px;
}
